.conatiner{
    width: 500px;
    height: auto;
    background-color: #f5f5f5;
    padding: 10px;
    float: left;
    border-radius: 5px;
}
.image-user{
    width: 40%;
    float: left;
}
.profile-user{
    width: 60%;
    float: left;
}
.img-rounded{
    max-width: 90%;
    border-radius: 6px;
}
.name{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cotainer-spell{
    padding-left: 0;
    margin-top: 10px;
    list-style-type: none;
}
.flow-btn{
    background-color: #428bca ;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #357ebd;
}